<div class="et-customer-collection-edit-customer">
	<label for="wporg_field">Phone Number:</label>
	<input value="{{ phone }}" type="text" name="et-customer-phone">

	<label for="wporg_field">Email Address:</label>
	<input value="{{ email }}" type="text" name="et-customer-email">

	<label for="wporg_field">Desired Budget:</label>
	<input value="{{ budget }}" type="text" name="et-customer-budget">

	<label for="wporg_field">Message:</label>
	<textarea name="et-customer-message">{{ message }}</textarea>

	<input type="hidden" name="et-customer-data">
</div>